body{
    font-family: 'Fredoka One', cursive;
    background-image: url("../img/background.jpg");
    background-repeat:round;
}

header img{
    float: left;
    width: 100px;
}

header{
    height: 80px;
    background-color: rgba(255, 229, 72, 255);
}
h1{
    color: red;
    text-align: center;
    font-size: x-large;
    line-height: 70px;
}

#myForm{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin:50px;
    background-color: rgba(255, 229, 72, 255);
}

#tableContainer{
    float: right;
    background-color: rgba(255, 229, 72, 255);
    width: 500px;
    margin-top: 50px;
    margin-right: 250px;
}
#myForm label{
    padding-left: 90px;
    color: red;
}
#myForm input,#myForm select{
    margin: 15px 0px 15px 50px;
    width: 200px;

}
#btn{
    color: wheat;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
body img{
  width: 100px;  
}

table {
    width: 350px;
    background-color: rgb(228, 218, 127);
    border: red solid;
}

td ,th{
    border: red solid;
}
#tableCont{
    margin-left: 110px;
    margin-top: 15px;
    margin-bottom: 15px;
}
table p {
    text-align: left;
    padding-bottom: 25px;
    padding-left: 5px;
    opacity: 0.8;
}
table img{
    padding-left: 15px;
    padding-top: 55px;
}